:root {
    --accent-color: #0071E3;
    /* --secondary-color: #2ecc71; */
    --background-color-light: #282829;
    --foreground-color: #f5f5f7;
    --foreground-color-darker: #dadadd;
    --background-color: #161617;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../fonts/SF-Pro-Text-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../fonts/SF-Pro-Display-Semibold.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url(../fonts/SF-Pro-Display-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: inherit;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;

}

body {
box-sizing: border-box;
font-family: "CustomFont", sans-serif;
font-weight: 400;
font-size: 1.8rem;
line-height: 1.7;
color: #606060;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 3px;
    text-shadow: 2px 1px 4px #000;
    line-height: 1.4;
    color: var(--foreground-color);
    text-transform: capitalize;
}

h1 span {
    display: block;
}

h2 {
  font-size: 2.5rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    border-radius: 50px;
    opacity: 0.9;
    transition: background 0.3s ease;
}

.btn:hover {
    opacity: 1;
}

section {
    margin-bottom: 4rem;
}


/* HEADER SECTION */
header {
    background-color: var(--background-color-light);
    height: 70px;
}

.logo    {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

header .logo a {
    display: block;
    
    height: 90%;
}

header .logo a img {
    height: 100%;
    display: inline-block;
    margin-top: 0.5rem;
}

.hamburger {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 3;
}
.hamburger .line{
    width: 35px;
    height: 3px;
    background-color: var(--foreground-color);
    display: block;
    margin: 8px auto;
    
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

/* ONE */
#hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
-webkit-transform: translateY(13px) rotate(45deg);
-ms-transform: translateY(13px) rotate(45deg);
-o-transform: translateY(13px) rotate(45deg);
transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
-webkit-transform: translateY(-13px) rotate(-45deg);
-ms-transform: translateY(-13px) rotate(-45deg);
-o-transform: translateY(-13px) rotate(-45deg);
transform: translateY(-13px) rotate(-45deg);
}

/* MODAL */
.modal  {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    padding: 6rem 2rem;
    position: absolute;
    top: -100vh;
    transition: all 0.5s;
    z-index: 2;
}

.modal li {
    margin-bottom: 1rem;
}
.modal a {
    color: var(--foreground-color);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
}

.modal .btn {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2rem;
}

.show_modal {
    top: 0;
}

/* HERO */

.hero {
    height: 500px;
    margin-top: 4rem;
    background-image: linear-gradient(135deg, #0f172a7e, #1e40af82, #3b83f6a6), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--foreground-color-darker);

    padding: 2rem;
}

.hero p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-shadow: 2px 1px 4px #000;
    margin-bottom: 2rem;
}

.hero b {
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: center;
  display: block;
}

.book_call {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.book_call a {
  display: inline-block;
  margin-right: 2rem;
}

/* SWIPER */
.swiper {
    width: 90%;
    height: 300px;
  }

  .swiper-slide {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slide_1 {
    background-image: url(../images/hero_.jpg);
  }

  .slide_2 {
    background-image: url(../images/slide_2.JPG);
  }

  .slide_3 {
    background-image: url(../images/slide_3.JPG);
  }

  .slide_4 {
    background-image: url(../images/slide_4.JPG);
  }

  /* studio */
.studio {
  background-color: #0d162f;
}

.studio_desc {
  padding: 4rem 2rem;
  background-image: linear-gradient(135deg, #0f172acb, #050d24e7, #0e213fde), url(../images/studio.jpg);
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: var(--foreground-color);
}

.studio_desc h2 {
  font-size: 5rem;
  line-height: 1;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #007bff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.studio_desc h2 span {
  display: block;
}

.studio_desc p  {
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  text-align: left;
}

.feature_card {
  padding: 5rem 3rem 3rem;
  background-color: #101832c9;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 3rem;
}

.feature_card:first-child p{
  text-align: left;
}

.features h3 {
  font-size: 6rem;
  background: linear-gradient(135deg, #007bff, #a855f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature_card p {
  text-align: center;
}

.superscript {
  vertical-align: super;
  font-size: 2.5rem;
}

.subscript {
  vertical-align: sub;
  font-size: 3rem;
}

  /* CLIENTS */
  .clients {
    background-image: linear-gradient(135deg, #0f172acb, #050d24e7, #0e213fde), url(../images/clients.JPG);
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: var(--foreground-color);
    padding: 4rem 0;
  }

  .clients_logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-items: center;
    padding: 4rem 0;
    max-width: 1000px;
    margin: auto;
  }

  .clients_logos img {
    width: 80px;
    margin-bottom: 6rem;
  }
  /* CUTTING EDGE */
  .cutting_edge {
    background-color: var(--background-color);
    padding: 6rem 2rem;
    color: var(--foreground-color);
    text-align: center;
  }

  .cutting_edge h2 {
    letter-spacing: 2px;
  }

  .cutting_edge .text p {
    margin-bottom: 1rem;
    letter-spacing: 2px;
  }

  .cutting_edge .image {
    width: 90%;
    margin: 0 auto;
  }

  .cutting_edge .image img{
    width: 100%;
    border-radius: 5px;
  }

  /* DUMMY SECTION */
  .dummy_content,
  .community {
    margin-top: 4rem;
    background-color: var(--background-color);
    color: var(--foreground-color);
  }

  .dummy_content p,
  .community p {
    color: var(--foreground-color-darker);
    letter-spacing: 1px;
    font-size: 2rem;
  }

  .dummy_content h2,
  .community h2 {
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  }

  /* DUMMY TWO SECTION */
  .dummy_2_content .container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/dummy_2.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--foreground-color);
    padding: 2rem;
  }

  .dummy_2_content h2 {
    letter-spacing: 2px;
  }

  .dummy_2_content p {
    font-size: 2rem;
    letter-spacing: 1px;
  }

 /* COMMUNITY SECTION */
 .community .container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/community.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
 }

 .community h2 {
    margin-top: 10rem;
    text-align: center;
    color: var(--foreground-color);
    letter-spacing: 2px;
    font-size: 4rem;
 }

 .community p {
    margin-top: 2rem;
    text-align: center;
    color: var(--foreground-color);
    letter-spacing: 1px;
    font-size: 2rem;
 }

 .community_text {
    background-color: #282829b3;
    padding: 2rem;
    margin-top: 2rem;
 }

 .community_text p {
    margin-top: 0;
 }

 /* FORM SECTION */
 .inquire {
  background-image: linear-gradient(135deg, #0f172acb, #050d24e7, #0e213fde), url(../images/form_bg.png);
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
 }
 .inquire form {
  background: linear-gradient(135deg, #021b36, #462268);
    /*background: var(--background-color-light);  Corrected form background color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    color: white; /* Ensuring text is visible */
    margin: 0 auto;
}

.inquire h2 {
    text-align: center;
    color: var(--foreground-color-darker);
    margin-bottom: 20px;
}

.inquire label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
    color: white;
    letter-spacing: 1px;
}

.inquire option {
  color: #000;
}

.inquire input,
.inquire textarea,
.inquire select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent inputs */
    color: white;
}

.inquire input::placeholder,
.inquire textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.inquire button {
    width: 100%;
    color: white;
    background: #0071E3;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

.inquire button:hover {
    background: #005bb5;
    color: white;
}


  /* FOOTER */
  footer {
    background-color: var(--background-color);
    padding: 4rem 2rem;
  }
  footer h2 {
    letter-spacing: 2px;
  }

  footer form {
    margin-top: 1.2rem;
  }

  footer .subscribe {
    margin-bottom: 4rem;
  }

  .subscribe, .mid {
    background-color: var(--background-color-light);
    padding: 2rem;
    border-radius: 10px;
    color: #fff
  }

  .subscribe h2 {
    font-size: 3rem;
  }

  label {
    display: block;
  }
  
  .subscribe input {
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 300px;
  }

  .subscribe button {
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: var(--accent-color);
    color: var(--foreground-color);
    font-weight: 600;
    letter-spacing: 1px;
  }

  .mid {
    margin-top: 2rem;
  }

  .map {
    width: 96%;
    margin: 1.5rem auto;
  }
  .map {
    max-width: 500px;
  }
  .map iframe{
    width: 100%;
  }

  .summary .logo {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .summary .logo img {
    width: 100px;
  }

  .summary .text p {
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }

  .quick_links {
    margin-bottom: 2rem;
    
  }
  .quick_links a {
    color: var(--foreground-color);
    letter-spacing: 1px;
    font-size: 2rem;
  }

  .phone,
  .email {
    display: flex;
    margin-bottom: 1rem;
  }

  .phone img,
  .email img {
    width: 25px;
    margin-right: 1rem;
  }

  footer .social {
    margin-top: 1rem;
  }
  footer .social img {
    width: 40px;
    margin-right: 1rem;
  }

  footer .bottom {
    margin-top: 2rem;
    font-size: 1.6rem;
  }
  .terms {
    display: flex;
    justify-content: space-between;
  }